.banner {
    /* background: url("Home-main.jpg") center center; */
    /* height: 20vh; */
    /* position: flex;  */
}


.banner__info{
    background-color: black;
    color: white;
    padding-top: 10vh;
    /* padding-bottom: 70px; */
    height: 40vh;
    text-align: center;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #446cb4 !important;
}

.banner__info > button {
    background-color: #446cb4;
    color: white;
    text-transform: inherit;
    /* margin-top: 5px; */
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #446cb4
}

.banner__info > h5 {
    margin-top: 10px;
}